{{!-- View full article
Edit article --}}


{{#with articles}}
<div class="row">
    <div class="col-12">
        <div class="card my-2 border-0">
            <div class="card-body">
                <h3 class="card-title" id="blog-{{articleId}}">{{title}}</h3>
                <p><em>Posted by <strong>{{author}}</strong> on {{timestamp}}</em></p>
                <p class="card-text">{{content}}</p>
                <form class="form-inline" action="/add" method="POST">
                    <div class="form-group">
                    <button class="btn mx-1 btn-light" type="submit">Comment</button>
                    <button class="btn mx-1 btn-light" type="submit">Edit</button>
                    <button class="btn mx-1 btn-light" type="submit"><em>Delete</em></button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{{/with}}
