nav.navbar {
    background: #2d6360;
    font-family: 'Julius Sans One', sans-serif;
    color: white;
}

a.navlink {
    color: white;
}

a.navlink:hover {
    text-decoration: underline;
}

h3, h4 {
    font-family: 'Julius Sans One', sans-serif;
}

p, label, div.alert {
    font-family: 'Libre Baskerville', serif;
}

a.navlink:visited {
    color: rgba(255,255,255,0.6);
}

a.articleLink {
    color: #2e484c;
}

.btn {
    font-family: 'Roboto Slab', serif;
}

.sidebar, .cardSidebar {
    background: rgb(232, 239, 235);
}

.sidebar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    font-family: 'Libre Baskerville', serif;
  }

  /* CSS to replace hide the radio buttons and display the avatar image instead*/
.avatarSelector > input {
    visibility: hidden;
    position: absolute;
}
.avatarSelector > input + img {
    width: 70px;
    cursor:pointer;
    border:2px solid transparent;
}
.avatarSelector > input:checked + img {
    border:2px solid rgba(119, 194, 255, 0.808);
}